@(servicePackage: ServicePackage, services: List[models.Service])(implicit flash: Flash, m: Messages)

@main(Messages("Service package details")) {

<h2>
    @servicePackage.name details:
    <br/>
    Services:
</h2>
    <table class="table table-striped">
        <tbody>
            @for(srv <- services) {
                <tr><td>@srv.serviceName</td></tr>
            }
        </tbody>
    </table>
}