@(boxForm: Form[models.BoxPackage], packageList: List[models.ServicePackage])(implicit flash: Flash, messages: Messages)


<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
<script type="text/javascript">

    $(document).on('click', 'input', function (e) {
        if($(this).attr('id') == "createBtn") {

                    var chkArray = [];
                    $(".chkbox1:checked").each(function() {
                        chkArray.push($(this).val());
                    });

                    /* we join the array separated by the comma */
                    var selected;
                    selected = chkArray.join(',') + ",";
                    $('#pkgIds').val(selected);


                    /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */
                    if(selected.length > 1){
                        alert("You have selected " + $('#pkgIds').val());
                    }else{
                        alert("!!!!!!!!!");
                    }
                }
            });

</script>
@import helper._
@main(Messages("new.box.package")) {
    <h2>@Messages("new.box")</h2>
    @helper.form(action = routes.ServicePackageController.createBox()) {
    <input type="hidden" name="pkgIds" id="pkgIds">
        <fieldset>
            <legend>@Messages("new.box.details")</legend>
            @helper.inputText(boxForm("name"))
            @helper.inputText(boxForm("description"))
        </fieldset>

        @for(pkg <- packageList) {
        <div class="form_inputs clearfix">
            <div class="row-fluid">
                <div class="span5">
                    <div id="checkboxlist" class="span1 offset6">
                        <input type="checkbox" name="@pkg.name" id="@pkg.id" class="chkbox1" value="@pkg.id">
                        <label class="control-label">@pkg.name</label>
                    </div>
                </div>

            </div>
        </div>

        }



        <input type="submit" id="createBtn" class="btn primary" value="Create"></input>


    }

}