@(packageForm: Form[models.ServicePackage])(implicit flash: Flash, messages: Messages)
@import helper._

@main(Messages("new.service.package")) {
    <h2>@Messages("new.service.package")</h2>
    @helper.form(action = routes.ServicePackageController.createPackage()) {
        <fieldset>
            <legend>@Messages("new.service.package.details")</legend>
            @helper.inputText(packageForm("name"))
            @helper.inputText(packageForm("description"))
        </fieldset>
        <p><input type="submit" class="btn primary"
                  value="Create"></p>
    }
}