@(serviceForm: Form[models.Service])(implicit flash: Flash, messages: Messages)
@import helper._

@main(Messages("new.service")) {
    <h2>@Messages("new.service")</h2>
    @helper.form(action = routes.ServicePackageController.createService()) {
        <fieldset>
            <legend>@Messages("new.service.details")</legend>
            @helper.inputText(serviceForm("name"))
            @helper.select(serviceForm("packageId"), models.ServicePackageDAO.getAll.map(s => s.id.get.toString -> s.name))
            @helper.inputText(serviceForm("description"))
        </fieldset>
        <p><input type="submit" class="btn primary"
                  value="Create"></p>
    }
}