@(title: String, loggedUser: Option[User], withMainTabs: Boolean = true, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)(implicit messages: Messages)

@import views.html.tags.auth._
@import controllers.routes

@displayToggleLang = {
	@if(messages.lang.code == "en") {
		<li><a href="@routes.Application.selectLang("es")">Español</a></li>
	} else {
		<li><a href="@routes.Application.selectLang("en")">English</a></li>
	}
}

@navbarContent = {
	@if(withMainTabs) {
		<ul class="nav navbar-nav">
			<li class="@("active".when(tab == "requests"))"><a href="@routes.RequestsController.listUsersRequests">Requests</a></li>
			@loggedUser.map { implicit user =>
				@withService(2L) {
					<li class="@("active".when(tab == "clients"))"><a href="@routes.CompanyController.listAll">Client management</a></li>
					<li class="@("active".when(tab == "users"))"><a href="@routes.UserController.listAll">User management</a></li>
					<li class="@("active".when(tab == "services"))"><a href="@routes.UserController.listAll">Service management</a></li>
				}
				@withService(3L) {
					<li class="@("active".when(tab == "serviceA_or_serviceB"))"><a href="@routes.Application.serviceSeller">A || B</a></li>
					<li class="@("active".when(tab == "serviceA_or_serviceB"))"><a href="@routes.CompanyController.listAll">Client management</a></li>
				}

				@withService(1L) {
					<li class="@("active".when(tab == "settings"))"><a href="@routes.Application.serviceAdmin">Settings</a></li>
				}
				<li class="@("active".when(tab == "myaccount"))"><a href="@routes.Application.myAccount">My account</a></li>
			}
		</ul>
	}
	<ul class="nav navbar-nav navbar-right">
		@loggedUser.map { user =>
			<li class="navbar-text text-right" style="margin: 5px 15px">
				@Html("Hello " + s"""<span class="text-success">${user.username}</span>""" + "!")
			</li>
			@displayToggleLang
			<li><a href="@routes.Auth.signOut">@Messages("signout")</a></li>
		}.getOrElse {
			@displayToggleLang
			<li class="@("active".when(tab == "signin"))"><a href="@routes.Auth.signIn">@Messages("signin")</a></li>
			<li class="@("active".when(tab == "signup"))"><a href="@routes.Auth.startSignUp">@Messages("signup")</a></li>
		}
	</ul>
}

@views.html.templates.main(title, navbarContent, styles, scripts, modals)(content)