@(user: User)(implicit flash: Flash, m: Messages)
@main(Messages("user.details")) {
<h2>
User details
</h2>
<dl class="dl-horizontal">
<dt>Username:</dt>
<dd>@user.username</dd>
<dt>Email:</dt>
<dd>@user.email</dd>
<dt>Role:</dt>
<dd>@models.RoleDAO.getById(user.roleId).name</dd>
</dl>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>@Messages("user.history.comment")</th>
        <th>@Messages("user.history.created")</th>
    </tr>
    </thead>
    <tbody>
    @for(elem <- UserHistoryDAO.getUserHistory(user.id.get)) {
    <tr>
        <td>@elem.id</td>
        <td>@elem.comment</td>
        <td>@elem.created</td>
    </tr>
    }
    </tbody>
</table>
}
