@(userForm: Form[User])(implicit flash: Flash, messages: Messages)
@import helper._

@main("New User") {
	<h2>New User</h2>
	@helper.form(action = routes.UserController.save()) {
		<fieldset>
			<legend>New user details</legend>
			@helper.inputText(userForm("username"))
			@helper.inputText(userForm("pass"))
			@helper.inputText(userForm("email"))
			@helper.select(userForm("roleId"), models.RoleDAO.listAll.map(v => v.id.get.toString -> v.name))
		</fieldset>
		<p><input type="submit" class="btn primary" value="Create"></p>
	}
}
