@(users: List[models.User])(implicit flash: Flash, m: Messages)

@main(Messages("users")) {

<table class="table table-striped"> 
	<thead>
		 <tr>
	         <th>ID</th>
 	         <th>Username</th>
 	         <th>Email</th>   
 	         <th>Role</th>     
 	     </tr>
    </thead>
     <tbody>
     @for(user <- users) {
     <tr>
         <td>@user.id</td>
         <td>
			<a href="@controllers.routes.UserController.showDetails(user.username)">
				@user.username
			</a>
		</td>      
         <td>@user.email</td>     
         <td>@models.RoleDAO.getById(user.roleId).name</td>
     </tr>                  
     }
     </tbody>
 </table>

<p>
	<a href="@controllers.routes.UserController.newUser()" class="btn">
	<i class="icon-plus"></i>Add new user</a>
</p>
}
