@(request: models.Request, requestHistory: List[models.RequestHistory], serviceRequest: List[models.RequestService])(implicit flash: Flash, m: Messages)
@import helper._
@main(Messages("request.details")) {
    <h2>@Messages("request.details")</h2>
    <dl class="dl-horizontal">
        <dt>Company:</dt>
        <dd>@request.companyPIB</dd>
        <dt>Description:</dt>
        <dd>@request.description</dd>
        @for(elem <- serviceRequest) {
            <dt>Service:</dt>
            <dd>@elem.serviceId</dd>
            <dt>Quantity:</dt>
            <dd>@elem.quantity</dd>
        }
    </dl>



    <table class="table table-striped">
        <thead>
        <tr>
            <th>@Messages("request.history.comment")</th>
            <th>@Messages("request.history.created")</th>
        </tr>
        </thead>
        <tbody>
            @for(elem <- requestHistory) {
            <tr>
                <td>@elem.comment</td>
                <td>@elem.created</td>
            </tr>
            }
        </tbody>
    </table>
}