@(requests: List[models.Request])(implicit loggedUser: Option[User], m: Messages, flash: Flash)

@import play.api.libs.json.Json
@import views.html.tags.auth._
@import controllers.routes

@views.html.modals.newRequestModal()

@views.html.templates.default(title = "Request list", loggedUser, tab = "requests") {
<input type="hidden" id="servicesJson" value="@models.ServiceDAO.getJson()"/>
<input type="hidden" id="boxJson" value="@models.ServicePackageDAO.getBoxPackageJson()"/>
<input type="hidden" id="packagesJson" value="@models.ServicePackageDAO.getPackageJson()"/>
<div class="table-responsive">
<table class="table table-striped">
        <tbody>
            <tr>
                <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newRequestModal">New request</button></td>
                <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newBoxRequestModal">New box request</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
<table class="table table-striped">
        <thead>
            <tr>
                <td>Status</td>
                <td>Package</td>
                <td>Company PIB</td>
                <td>Owner</td>
                <td>Seller</td>
                <td>From date:</td>
                <td>To date:</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id="statusF">
                        <option class="blank" value="">-- All --</option>
                        @for(p <- models.RequestStatus.getAll) {
                        <option value="@p.id">@p.name</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="srvPkgF">
                        <option class="blank" value="">-- All --</option>
                        @for(sp <- models.ServicePackageDAO.getAll) {
                        <option value="@sp.id.get">@sp.name</option>
                        }
                    </select>
                </td>
                <td><input type="text" name="cpib" id="cpib"></td>
                <td>
                    <select id="ownerF">
                        <option class="blank" value="">-- All --</option>
                        @for( own <- models.UserDAO.getAll) {
                            <option value="@own.id.get">@own.username</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="sellerF">
                        <option class="blank" value="">-- All --</option>
                        @for( sel <- models.UserDAO.getAll) {
                        <option value="@sel.id.get">@sel.username</option>
                        }
                    </select>
                </td>
                <td><input type="text" name="fromf" id="fromf"></td>
                <td><input type="text" name="tof" id="tof"></td>
                <td><a href="#" id="filterBtn">Search</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
<table class="table table-striped" id="requestTbl">
        <thead>
             <tr>
                 <th>Company PIB</th>
                 <th>Owner</th>
                 <th>Seller</th>
                 <th>Status</th>
                 <th>Creation time</th>
                 <th>Description</th>
             </tr>
        </thead>
        <tbody>
        @for(request <- requests) {
        <tr>
            <td>@CompanyDAO.getByPIB(request.companyPIB).pib</td>
             <td>@models.UserDAO.getById(request.ownerId).username</td>
             <td>@models.UserDAO.getById(request.sellerId.get).username</td>
             <td>
                 <select id="myfield" name="myfield" >
                     @for(p <- models.RequestStatus.getAll) {
                     <option @if(p.id == request.statusId){ selected } value="@p.id">@p.name</option>
                     }
                 </select>
             </td>
             <td>@request.created</td>
             <td>@request.description</td>
             <td><a href="/requestDetails/@request.id.get">Details</a></td>
         </tr>
         }
         </tbody>
    </table>
    </div>
    <script type="text/javascript">
        $("#requestTbl").on('click-row.bs.table', function (e, row, $element) {
            window.location = $element.data('href');
        });

        $(document).on('change', '#srvPkgId', function(){
            var route = "/request/new/" + $(this).val();
            $('#newSrvReq').attr('href', route);
            $('#servicesContent').html('');
            var packageId = $(this).val();
            addServices('servicesContent', packageId);
        });

        $(document).on('change', '#srvBoxId', function(){
            var route = "/request/newBox/" + $(this).val();
            $('#newBoxReq').attr('href', route);
            $('#boxServicesContent').html('');
            var boxId = $(this).val();
            addPackages('boxServicesContent', boxId);
        });



    </script>
}

