@(requestForm: Form[models.Request], servicesList: List[models.Service], boxId: Long)(implicit request: RequestHeader, loggedUser: Option[User], flash: Flash, messages: Messages)

@import helper._
@import b3.vertical.fieldConstructor
@views.html.templates.default(title = "Request list", loggedUser, tab = "index") {
    <h2>New request</h2>
    @b3.formCSRF(routes.RequestsController.create(1L)) {
        <input type="hidden" name="serviceQuantity" id="serviceQuantity">
        <input type="hidden" name="statusId" value="1">
        <input type="hidden" name="boxId" id="boxId" value="@boxId">
        <fieldset>
            <legend>New request details</legend>

            @helper.select(requestForm("companyPIB"),
                models.CompanyDAO.getAll.map( c => c.pib -> c.name))
            @helper.select(requestForm("ownerId"),
                models.UserDAO.getAll.map(s => s.id.get.toString -> s.username))

            @helper.select(requestForm("sellerId"),
            models.UserDAO.getAll.map(s => s.id.get.toString -> s.username))
            @helper.inputText(requestForm("description"))
            @for( s <- servicesList) {
                <div class="form_inputs clearfix">
                    <div class="row-fluid">
                        <div class="span5">
                            <div id="servicesList" class="span1 offset6">
                                <label style="width: 150px;" class="control-label">@s.serviceName</label>
                                <input type="text" maxlength="2" style="width: 30px;" class="inputQ" name="@s.serviceName" id="@s.id">
                            </div>
                        </div>

                    </div>
                </div>
            }
        </fieldset>
        <p><input type="submit" class="btn primary" id="createRequest"
                  value="Create"></p>
    }
    <script type="text/javascript">
        $(document).on('click', 'input', function (e) {
            if($(this).attr('id') == "createRequest") {

                var idQArray = [];
                $(".inputQ").each(function() {
                    var value=$.trim($(this).val());
                    if(value.length > 0) {
                        var elem = $(this).attr('id') + "|" + $(this).val() + "|" + $('#boxId').val();
                        idQArray.push(elem);
                    }


                });

                var idQ = idQArray.join(',');
                $('#serviceQuantity').val(idQ);
                //alert("BBB");
                alert($('#serviceQuantity').val());
            }
        });
    </script>
}

