@(companies: List[Company])(implicit loggedUser: Option[User], flash: Flash, m: Messages)
<script type="text/javascript" src="@routes.Assets.versioned("/javascripts/jquery.js")"></script>
<script type="text/javascript">
    $(document).on('keypress', 'input', function (e) {
        if(e.which === 13){
            if($(this).attr('id') == "cname" || $(this).attr('id') == "cpib")
            {
                $(this).attr("disabled", "disabled");

                var searchStr = $(this).val();
                var route = "/companies/filter/" + searchStr;
                //alert(route);
                $('#filterBtn').attr('href', route);

                $(this).removeAttr("disabled");
            }
         }
   });
</script>

@views.html.templates.default(title = "Request list", loggedUser, tab = "clients") {

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newRequestModal">New client</button></td>
            <td>
                <a href="@controllers.routes.CompanyController.newCompany()">
                    <i class="icon-plus icon-white"></i>Add company</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<table class="table table-striped" id="FilterTable">
    <thead>
        <tr>
            <th>@Messages("company.name")</th>
            <th>@Messages("company.pib")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="cname" id="cname"></td>
            <td><input type="text" name="cpib" id="cpib"><br></td>
            <td><a href="#" id="filterBtn">Search</a></td>
        </tr>
    </tbody>
</table>
<p>Search filter Name: ALL PIB: ALL</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>@Messages("company.name")</th>
            <th>@Messages("company.PIB")</th>
            <th>@Messages("company.tisID")</th>
            <th>@Messages("company.zr")</th>
        </tr>
    </thead>
    <tbody>
        @for(company <- companies) {
            <tr>
                <td><a href="/requests/filter/@company.pib">@company.name</a></td>
                <td><a href="/requests/filter/@company.pib">@company.pib</a></td>
                <td>@company.tisId</td>
                <td>@company.zr</td>
            </tr>
        }
    </tbody>
</table>


}
