@(companyForm: Form[Company])(implicit flash: Flash, messages: Messages)
@import helper._

@main(Messages("new.company")) {
	<h2>New Company</h2>
	@helper.form(action = routes.CompanyController.save()) {
		<fieldset>
			<legend>New company details</legend>
			@helper.inputText(companyForm("id"))
			@helper.inputText(companyForm("pib"))
			@helper.inputText(companyForm("name"))
			@helper.inputText(companyForm("tisId"))
		</fieldset>
			<p><input type="submit" class="btn primary"
				value="Create"></p>
	}
}
