<div id="newRequestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New request</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td style="width:15%">
                                <select id="companyListId">
                                    <option class="blank" value="">---</option>
                                    @for(company <- models.CompanyDAO.getAll) {
                                        <option value="@company.pib">@company.name</option>
                                    }
                                </select>
                            </td>
                            <td class="fraud-col">
                                <input type="checkbox" id="fraudCheckId">
                                <label for="fraudCheckId">Fraud check</label>
                            </td>
                            <td class="registration-col">
                                <input type="checkbox" id="registrationCheckId">
                                <label for="registrationCheckId">Registration</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td style="width:15%">
                                <select id="srvPkgId">
                                    <option class="blank" value="">---</option>
                                    @for(sp <- models.ServicePackageDAO.getAll) {
                                    <option value="@sp.id.get">@sp.name</option>
                                    }
                                </select>
                            </td>
                            @for(reqType <- models.RequestType.types) {
                                <td>
                                    <input name="requestType" type="radio" value="@reqType">@reqType</input>
                                </td>
                            }

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="servicesContent"></div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="requestNoteId">Comment</label>
                            <textarea class="form-control" id="requestNoteId" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="newBoxRequestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New box request</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td style="width:15%">
                                <select id="companyListId">
                                    <option class="blank" value="">---</option>
                                    @for(company <- models.CompanyDAO.getAll) {
                                    <option value="@company.pib">@company.name</option>
                                    }
                                </select>
                            </td>
                            <td class="fraud-col">
                                <input type="checkbox" id="fraudCheckId">
                                <label for="fraudCheckId">Fraud check</label>
                            </td>
                            <td class="registration-col">
                                <input type="checkbox" id="registrationCheckId">
                                <label for="registrationCheckId">Registration</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td style="width:15%">
                                <select id="srvBoxId">
                                    <option class="blank" value="">---</option>
                                    @for(sp <- models.ServicePackageDAO.getAllBoxPackages) {
                                    <option value="@sp.id.get">@sp.name</option>
                                    }
                                </select>
                            </td>
                            @for(reqType <- models.RequestType.types) {
                            <td>
                                <input name="requestType" type="radio" value="@reqType">@reqType</input>
                            </td>
                            }
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="boxServicesContent"></div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="requestNoteId">Comment</label>
                            <textarea class="form-control" id="requestNoteId" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>