@()(implicit request: RequestHeader, user: User, messages: Messages)

@import controllers.routes

@views.html.templates.logged(title = "My account", tab = "myaccount") {
	
	@tags.alertFromRequest(request, "success")
	
	<h1>@Messages("myaccount.title") <a class="btn btn-default btn-sm pull-right" href="@routes.Auth.changePassword">@Messages("changepass")</a></h1>
	
	<table class="table table-striped table-condensed">
		<tr>
			<td>@Messages("field.email")</td>
			<td>@user.email</td>
		</tr>
		<tr>
			<td>@Messages("field.firstname")</td>
			<td>@user.firstName</td>
		</tr>
		<tr>
			<td>@Messages("field.lastname")</td>
			<td>@user.lastName</td>
		</tr>
		<tr>
			<td>@Messages("field.services")</td>
			<td>@models.RoleDAO.getById(user.roleId).name</td>
		</tr>
	</table>
}